<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="/styles/style.css" />
<html>
<head>
    <title>Spring Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<ul class="Menu">
    <li class="MenuItem"><a href="index">Заметки</a></li>
</ul>
<h1 class="bigText">Hello </h1>
</body>
</html>